header {
    display: grid;
    grid-template-columns: repeat(2);
    vertical-align: middle;
}

header h1::before {
    background-size: 15vh;
    height: 15vh;
    width: 15vh;
}

header h1 {
    display: inline-grid;
    grid-column: 1;
    margin-left: 7.5vw !important;
    text-align: left;
}

header ul {
    background-color: unset !important;
    display: inline-grid !important;
    grid-column: 2;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 7vw !important;
    margin-top: unset !important;
    text-decoration: none;
    padding: 0;
}

header ul li {
    padding: 0 !important;
    vertical-align: middle;
    line-height: 10vh;
}


article {

}

#summary {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    margin: 2.5vh 5vw !important;

}

#summary h3 {
    border-top: 0 !important;
    margin: 0 0 1.5vh;
    padding-top: 3vh;
    position: relative;
    text-align: center;
    top: -3vh;
    z-index: -99;
}

#uxengineer, #ftenddev {
    border-right: 1px solid rgba(0,0,0,.25);
    padding-right: 3vw;
}

#experience {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5vw;
}

#experience h2 {
    gap: 0;
    grid-row: 1;
    grid-column: span 3;
}

#experience #flowserve {
    grid-column: 1;
    grid-row: 2;
}

#experience #lowes {
    grid-column: 2;
    grid-row: 2;
}

#experience #icontact {
    grid-column: 3;
    grid-row: 2;
}

#experience .modal {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr 1fr 2fr);
    vertical-align: middle !important;
    column-gap: 2vw;
}

#experience .modal img {
    grid-column: 1;
    grid-row: span 3;
    margin: auto;
}

#experience .modal h3 {
    grid-column: 2;
    grid-row: 1;
}

#experience .modal h4 {
    grid-column: 2;
    grid-row: 2;
}

#experience .modal p {
    grid-column: 2;
    grid-row: 3 span 2;
}

#process {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;

}

/* Footer Element */

body > footer {
    display: inline-grid;
    grid-template-columns: repeat(1, 2fr 1fr);
}

footer #contact  {

}

footer #contact ul {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

footer #contact ul li {
    display: inline-block;
    padding: 1vh 1vw;
}

footer #contact ul li a {
    display: inline-block;
}

footer #copyright {
    grid-column: 4 span 2;
    text-align: right !important;
}


blockquote footer {
    display: inline-block !important;
}