header {
    display: grid;
    grid-template-columns: repeat(2);
    vertical-align: middle;
}

header h1::before {
    /* FAQ: why was this not represented in the HTML?
    A: because a logoform is semantically useless and not needed in a non-visual experience
    therefore insertion by CSS allows it to be ignored entirely by screen readers */
    background-size: 15vh;
    height: 15vh;
    width: 15vh;
}

header h1 {
    display: inline-grid;
    grid-column: 1;
    margin-left: 7.5vw !important;
    text-align: left;
}

header ul {
    background-color: unset !important;
    display: inline-grid !important;
    grid-column: 2;
    text-decoration: none;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 7vw !important;
    margin-top: unset !important;
    padding: 0;
}

header ul li {
    padding: 0 !important;
    vertical-align: middle;
    line-height: 10vh;
}


article {

}

#summary {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    margin: 2.5vh 7.5vw !important;

}

#summary h3 {
    border-top: 0 !important;
    margin: 0 0 1.5vh;
    padding-top: 3vh;
    position: relative;
    text-align: center;
    top: -3vh;
    z-index: -99;
}

#uxengineer, #ftenddev {
    border-right:  1px solid #EEE;
    padding-right: 2vw;
}

#experience {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5vw;
}

#experience h2 {
    gap: 0;
    grid-row: 1;
    grid-column: span 3;
}

#experience #flowserve {
    grid-column: 1;
    grid-row: 2;
}

#experience #lowes {
    grid-column: 2;
    grid-row: 2;
}

#experience #icontact {
    grid-column: 3;
    grid-row: 2;
}

#process {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);

}

footer {

}