:root {
	--red: rgb(133, 25, 0);
	--blue: rgb(0, 77, 111);
	--yellow: rgb(251, 189, 8);
	--green: rgb(0, 95, 38);
	--gray: rgba(0, 0, 0, .25);
}

/* Basic Layout */

body {
	align-items: center;
	font-family: Lato, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* Header Element and Navigation */

header {
	background-color: var(--blue);
	color: white;
	height: 4rem;
	margin-top: 1rem;
	text-align: center;
}


header::before {
	/* FAQ: why was this not represented in the HTML?
	A: because a logoform is semantically useless and not needed in a non-visual experience
	therefore insertion by CSS allows it to be ignored entirely by screen readers */
	background-image: url('../images/logoform.png');
	background-repeat: no-repeat;
	background-size: 6rem;
	content: " ";
	display: inline-block;
	height: 6rem;
	position: relative;
	top: -1rem;
	vertical-align: middle;
	width: 6rem;

}

header h1 {
	font-weight: 400;
	font-size: 3.5rem;
	display: inline;
	padding: 0 1rem;
}

/* Hero Element */

#hero {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 77, 111, .8), rgba(0, 0, 0, .9) ), url('../images/quote-tools.jpg');
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: cover;
	color: white;
	margin: auto;
	padding: 1rem;
}

#hero h2 {
	display: block;
	font-size: 2.5rem;
	font-weight: 400;
	margin: 6rem auto;
	text-align: center;
	vertical-align: middle;
}

/* Personal Summary Element */

#summary {
	align-self: center;
	align-content: center;
	margin: 0 5rem;
	text-align: center;
}

#summary i {
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    float: left;

}

#summary h3 {
	font-size: 16pt;
	margin: 0 0 1rem;
	text-align: center;
}

#summary p {
	text-align: left;
	line-height: 1.5;
}


/* Process Element */

#process {

	line-height: 1.5;
}

#process blockquote {
/*	background-color: red;*/
	margin: 0 5rem;
}

#process blockquote p {
	color: var(--red);
	font-size: 29pt;
	font-weight: 700;
	text-align: justify;
}

#process blockquote p::before {
	content: "\201c";
	font-family: serif !important;
	line-height: .5;
	position: relative;
	right: 1rem;
	top: 1.5rem;
}

#process blockquote p::after {
	content: "\201d";
	font-family: serif !important;
	line-height: .5;
	position: relative;
	left: .3rem;
	top: 1.5rem;
}

#process div > p {
	margin:1rem 5rem;
}

#process footer {
	background-color: rgba(255,255,255,0);
	color: var(--red);
	display: block;
	text-align: right;
}


/* Experience Element */

#experience {
	align-content: center;
	align-items: center;
	align-self: center;
	background-attachment: fixed;
	background-image: linear-gradient( rgba(255, 255, 255, .5), rgba(255, 255, 255, 1) ), url(../images/quote-keyboard.jpg);
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;

}

#experience h3 {
	padding: 0 2rem;
}


#experience .card {
	align-content: center;
	align-items: center;
	align-self: center;
	background-color: white;
	border: 1px solid var(--gray);
	border-radius: 1rem;
	box-shadow: 0rem 0rem 10px var(--gray);
	margin: 1rem 0;
	overflow: hidden;
	text-align: center;
}

#experience img {
	width: auto;
}

#experience .card a {
	background-color: var(--yellow);
	color: black;
	display: block;
	text-align: center;
	text-decoration: none;
}

#experience .modal {
	display: none;
}

/* Footer Element */

footer {
	align-content: center;
	align-items: center;
	align-self: center;
	background-color: var(--blue);
	color: white;
	display: grid;
	margin-top: 2rem;
	overflow: visible;
}