:root {
	--red: rgb(133, 25, 0);
	--blue: rgb(0, 77, 111);
	--yellow: rgb(251, 189, 8);
	--green: rgb(0, 95, 38);
	--gray: rgba(0, 0, 0, .25);
}

/* Basic Layout */

body {
	align-items: center;
	font-family: Lato, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* Header Element and Navigation */

header {
	background-color: var(--blue);
	color: white;
	display: block;
	height: 8vh;
	margin-top: 2.5vh;
	position: fixed;
	text-align: center;
	width: 100vw;
}


header::before {
	/* FAQ: why was this not represented in the HTML?
	A: because a logoform is semantically useless and not needed in a non-visual experience
	therefore insertion by CSS allows it to be ignored entirely by screen readers */
	background-image: url('../images/logoform.png');
	background-repeat: no-repeat;
	background-size: 10vh;
	content: " ";
	display: inline-block;
	height: 10vh;
	padding: 0;
	position: relative;
	top: -1.5vh;
	vertical-align: middle;
	width: 10vh;


	/* Drop shadow on image, source: Stack Exchange */

	-webkit-filter: drop-shadow(0 1vh 1vw rgba(0,0,0,.5));
	-moz-filter: drop-shadow(0 1vh 1vw rgba(0,0,0,.5));
	-ms-filter: drop-shadow(0 1vh 1vw rgba(0,0,0,.5));
	-o-filter: drop-shadow(0 1vh 1vw rgba(0,0,0,.5));
	filter: drop-shadow(0 1vh 1vw rgba(0,0,0,.5));
}

header h1 {
	display: inline-block;
	font-weight: 400;
	font-size: 6.5vh;
	margin: 0;
	padding: 0 2vw;
}

/* Hero Element */

#hero {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 77, 111, .3), rgba(0, 0, 0, .9) ), url('../images/quote-keyboard.jpg');
    background-position: left 7vh;
    background-repeat: no-repeat;
    background-size: cover;
	color: white;
	margin: auto;
	padding: 1vh;
}

#hero h2 {
	display: block;
	font-size: 5vh;
	font-weight: 400;
	margin: 25vh auto 20vh auto;
	text-align: center;
	vertical-align: middle;
}

/* Personal Summary Element */

#summary {
	align-self: center;
	align-content: center;
	margin: 2.5vh 7.5vh;
	text-align: center;
}

#summary h3 {
	font-size: 3.5vh;
	margin: 0 0 2vh;
	text-align: center;
	border-top: 1px solid black;
	position: relative;
	top: -3vh;
	padding-top: 3vh;
	z-index: -99;
}

#summary p {
	text-align: justify;
	line-height: 1.5rem;
}

#summary #uxengineer::before {
	background-color: var(--red);
	border-radius: 5vh;
	border-color: var(--red);
	content: ' ';
	color: white;
	display: inline-block;
	height: 5vh;
	width: 5vh;
}

#summary #ftenddev::before {
	background-color: var(--yellow);
	border-radius: 5vh;
	border-color: var(--yellow);
	content: ' ';
	color: white;
	display: inline-block;
	height: 5vh;
	width: 5vh;
}

#summary #passion::before {
	background-color: var(--green);
	border-radius: 5vh;
	border-color: var(--green);
	border: 10px solid white;
	content: ' ';
	color: white;
	display: inline-block;
	height: 5vh;
	width: 5vh;
}

/* Experience Element */

#experience {
	background-attachment: fixed;
	background-image: linear-gradient( rgba(0, 0, 0, .7), rgba(255, 255, 255, 1) ), url(../images/quote-tools.jpg);
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4vh;
	text-align: center;

}

#experience h3 {
	font-size: 5vh;
	color: ;
}


#experience .card {
	background-color: white;
	border: 1px solid var(--gray);
	border-radius: 1rem;
	box-shadow: 0rem 0rem 10px var(--gray);
	margin: 1rem auto;
	overflow: hidden;
	text-align: center;
	width: 50vw;
}

#experience img {
	height: 25vh;
}

#experience .card a {
	background-color: var(--yellow);
	color: black;
	display: block;
	text-align: center;
	text-decoration: none;
}

#experience .modal {
	display: none;
}

/* Process Element */

#process {
	line-height: 1.5;
}

#process blockquote {
/*	background-color: red;*/
	margin: 0 5rem;
}

#process blockquote p {
	color: var(--red);
	font-size: 29pt;
	font-weight: 700;
	text-align: justify;
}

#process blockquote p::before {
	content: "\201c";
	font-family: serif !important;
	line-height: .5;
	position: relative;
	right: 1rem;
	top: 1.5rem;
}

#process blockquote p::after {
	content: "\201d";
	font-family: serif !important;
	line-height: .5;
	position: relative;
	left: .3rem;
	top: 1.5rem;
}

#process div > p {
	margin:1rem 5rem;
}

#process footer {
	background-color: rgba(255,255,255,0);
	color: var(--red);
	display: block;
	text-align: right;
}



/* Footer Element */

footer {
	align-content: center;
	align-items: center;
	align-self: center;
	background-color: var(--blue);
	color: white;
	display: grid;
	margin-top: 2rem;
	overflow: visible;
}