:root {
	--red: rgb(133, 25, 0);
	--blue: rgb(0, 77, 111);
	--yellow: rgb(251, 189, 8);
	--green: rgb(0, 95, 38);
	--gray: rgba(0, 0, 0, .25);
}


body {
	align-items: center;
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}



header {
	align-items: center;
	background-color: var(--blue);
	color: white;
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: 2;
	margin-top: 2rem;
	overflow: visible;
}

h1 {
	font-weight: 400;
	font-size: 42pt;
	grid-column-start: 1;
	margin: 0 0 0 10rem;
	padding: .1rem;

}

h1::before {
	/* FAQ: why was this not represented in the HTML?
	A: because a logoform is semantically useless and not needed in a non-visual experience
	therefore insertion by CSS allows it to be ignored entirely by screen readers */
	background-image: url('../images/logoform.png');
	background-size: 7.5rem;
	content: " ";
	display: inline-block;
	height: 7.5rem;
	left: 1rem;
	position: absolute;
	top: 1rem;
	width: 7.5rem;
}

nav {
	align-content: right;
	grid-column-start: 2;
}

strong {
	background-color: rgba(0, 77, 111, .1);
}

#hero {
	align-items: center;
    background: linear-gradient( rgba(0, 77, 111, .75), rgba(0, 0, 0, .9) ), url('../images/quote-tools.jpg');
    background-attachment: fixed;
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: cover;
	color: white;
	display: flex;
	min-height: 23rem;
	max-height: 30%;
}

#hero h2 {
	font-size: 36pt;
	font-weight: 400;
	margin: 1rem;
	text-align: center;
	width: 100%;
}

#summary {
	align-self: center;
	align-content: center;
	display: inline-grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	margin: 0 3rem;
	text-align: center;
}

#summary i {
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    line-height: inherit;
    margin: 1rem 0;
    padding: .67rem;
}

#summary h3 {
	font-size: 16pt;
	margin: 0 0 1rem;
	text-align: center;
}

#summary p {
	text-align: left;
	line-height: 1.5;
}

#uxengineer i {
	background-color: var(--red);
	color: white;
}

#ftenddev i {
	background-color: var(--yellow);
	color: white;
}

#passion i {
	background-color: var(--green);
	color: white;
}

#process {
	background: linear-gradient( rgba(255, 255, 255, .5), rgba(255, 255, 255, 1) ), url(../images/quote-keyboard.jpg);
    background-attachment: fixed;
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: cover;
	display: inline-grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	line-height: 1.5;
}

#process blockquote p {
	color: var(--red);
	font-size: 29pt;
	font-weight: 700;
	margin: 0 1rem;
	text-align: right;
}

#process blockquote p::before {
	content: "\201c";
	font-family: serif !important;
	font-size: 54pt;
	line-height: .5;
	position: relative;
	right: 1rem;
	top: 1.5rem;
}

#process blockquote p::after {
	content: "\201d";
	font-family: serif !important;
	font-size: 54pt;
	line-height: .5;
	position: relative;
	left: .3rem;
	top: 1.5rem;
}

#process footer {
	background-color: rgba(255,255,255,0);
	color: var(--red);
	font-size: 18pt;
	display: block;
	text-align: right;
}

#experience {
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
}

#experience h3 {
	font-size: 32pt;
	padding: 0 2rem;
}

#experience .grid {
	display: inline-grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#experience .card {
	align-content: center;
	align-items: center;
	align-self: center;
	border: 1px solid var(--gray);
	border-radius: 1rem;
	box-shadow: 0rem 0rem 10px var(--gray);
	margin: 1rem 0;
	overflow: hidden;
	text-align: center;
}

#experience img {
	width: auto;
	height: 13rem;
}

#experience .card a {
	background-color: var(--yellow);
	color: black;
	display: block;
	font-size: 14pt;
	height: 4rem;
	text-align: center;
	text-decoration: none;
}

#experience .modal {
	display: none;
}

footer {
	align-content: center;
	align-items: center;
	align-self: center;
	background-color: var(--blue);
	color: white;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: 1;
	margin-top: 2rem;
	overflow: visible;
}