@import 'landscape.css' screen and (orientation: landscape);

:root {
	--red: rgb(133, 25, 0);
	--blue: rgb(0, 77, 111);
	--light-blue: rgba(0, 77, 111, .10);
	--yellow: rgb(251, 189, 8);
	--green: rgb(0, 95, 38);
	--gray: rgba(0, 0, 0, .25);
	margin: 0;
	padding: 0;
}

/* Basic Layout */

body {
	align-items: center;
	font-family: Lato, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 7vh;
	font-weight: 500;
}

h2 {
	font-size: 6vh;
	font-weight: 600;
}

h3 {
	font-size: 3vh;
	font-weight: 600;
}

h4 {
	font-size: 2.5vh;
	font-weight: 600;
}

h5 {

}

strong {
	background-color: var(--light-blue);
}

a {
	text-decoration: none;
	color: inherit;
}

/* Header Element and Navigation */

header {
	background-color: var(--blue);
	color: white;
	height: 10vh;
	margin-top: 2.5vh;
	position: fixed;
	text-align: center;
	width: 100vw;
	z-index: 99;
}

header h1::before {
	/* FAQ: why was this not represented in the HTML?
	A: because a logoform is semantically useless and not needed in a non-visual experience
	therefore insertion by CSS allows it to be ignored entirely by screen readers */
	background-image: url('../images/logoform.png');
	background-repeat: no-repeat;
	background-size: 12vh;
	content: " ";
	display: inline-block;
	filter: drop-shadow(0 1vh 1vw rgba(0,0,0,.5));
	height: 12vh;
	padding: 0 1vw;
	position: relative;
	top: -1.75vh;
	vertical-align: top;
	width: 12vh;
	z-index: 100;
}

header h1 {
	display: inline-block;
	margin: 0;
}

header ul {
	background-color: var(--gray);
	display: none;
	list-style-type: none;
	margin: 0;
	margin-top: -2vh;
	padding: 0;
	text-indent: 0;
	vertical-align: middle;
}

header ul li {
	padding: 1vh 2vw;
}

/* Hero Element */

#hero {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 77, 111, .3), rgba(0, 0, 0, .9) ), url('../images/quote-keyboard.jpg');
    background-position: left 7vh;
    background-repeat: no-repeat;
    background-size: cover;
	color: white;
	margin: auto;
	padding: 1vh;
}

#hero h2 {
	display: block;
	font-weight: 500;
	margin: 25vh 5vw 20vh;
	text-align: center;
	vertical-align: middle;
}

/* Personal Summary Element */

#summary {
	align-self: center;
	align-content: center;
	margin: 2.5vh 10vw;
	text-align: center;
}

#summary h3 {
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	margin: 0 0 1.5vh;
	padding-top: 3vh;
	position: relative;
	text-align: center;
	top: -3vh;
	z-index: -99;
}

#summary p {
	text-align: justify;
}

#summary #uxengineer::before {
	background-color: var(--red);
	border-radius: 5vh;
	border-color: var(--red);
	border: 1vh solid white;
	content: '\1F465';
	color: white;
	display: inline-block;
	font-size: 3vh;
	height: 5vh;
	vertical-align: middle;
	width: 5vh;
}

#summary #ftenddev::before {
	background-color: var(--yellow);
	border-radius: 5vh;
	border-color: var(--yellow);
	border: 1vh solid white;
	content: '\1F4BB';
	color: white;
	display: inline-block;
	font-size: 3vh;
	height: 5vh;
	vertical-align: middle;
	width: 5vh;
}

#summary #passion::before {
	background-color: var(--green);
	border-radius: 5vh;
	border-color: var(--green);
	border: 1vh solid white;
	content: '\1F497';
	color: white;
	display: inline-block;
	font-size: 3.5vh;
	height: 5vh;
	vertical-align: middle;
	width: 5vh;
}

/* Process Element */

#process {
	background-attachment: fixed;
	background-image: linear-gradient( rgba(255, 255, 255, .6), rgba(255, 255, 255, 1) ), url(../images/quote-tools.jpg);
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1vh 5vw;
	text-align: justify;
}

#process blockquote {
	margin: 0;
}

#process blockquote p {
	color: var(--red);
	font-size: 5.5vh;
	font-weight: 700;
	line-height: 6vh;
	text-align: left;
}


/* TODO: Fix blockquote quotes to create text effect;

#process blockquote p::before {
	content: "\201c";
	font-family: serif !important;
	/*line-height: .5;
	position: relative;
	left: -7vw;
}

#process blockquote p::after {
	content: "\201d";
	font-family: serif !important;
/*	line-height: .5;*/
/*	position: relative;
	left: .3rem;
	top: 1.5rem;
}

#process div > p {
	margin:1rem 5rem;
}*/

#process blockquote footer {
	background-color: rgba(255,255,255,0);
	color: var(--red);
	display: block;
	text-align: right;
}

/* Experience Element */

#experience {
    padding: 4vh;
	text-align: center;
}

#experience h2 {
	margin: 0;
}

#experience .card {
	background-color: white;
	border: 1px solid var(--gray);
	border-radius: 1vh;
	box-shadow: 0rem 0rem 10px var(--gray);
	margin: 5vh auto;
	text-align: center;
}

#experience .card img {
	border-top-left-radius: 1vh;
	border-top-right-radius: 1vh;
	width: 100%;
}

#experience .card p {
	padding: 1.5vw;
}

#experience .card a {
	background-color: var(--yellow);
	border-bottom-right-radius: 1vh;
	border-bottom-left-radius: 1vh;
	color: black;
	display: block;
	font-weight: 600;
	padding: 2vh;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

#experience .modal {
    background-color: white;
    border-radius: 1vh;
    box-shadow: 1vh 1vw 5vh black;
    display: none;
    overflow: auto;
    padding: 1vh 5vw;
    position: fixed;
    top: 15vh;
    left: 5vw;
    right: 5vw;
    bottom: 5vh;
}

#experience .modal img {
	width: 100%;
}

#experience .modal p {
	text-align: justify;
}

/* Footer Element */

footer {
	background-color: var(--blue);
	color: white;
	padding: .5vh 0vw;
	width: 100%;
}

footer ul, footer p {
	text-align: center;
	text-indent: none;
	list-style: none;
}

footer ul li {
	text-indent: none;
	list-style: none;
}

