@import 'modal';

.floatingbox {
	@include pad();
	
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: .75rem;
	color: $dark-gray;
	display: block;
	margin: .75rem auto;

}

img.logo {
    box-shadow: 0 3px 5px 0 rgba($dark-gray, .5);
	margin: 0 1rem;
	vertical-align: middle;
}

.wrapper {
	padding: 1rem;
	clear: both;
}