	nav {
		display: inline-block;

		ul {
			display: none;
			margin: 0 auto;
			overflow: visible;
			padding: 0;

			//large screen layout
	        @include media ($horizontal-bar-mode) {
	            display: block;
	            text-align: right;
	        }

			li {
		        background: $navigation-background;
		        display: block;
		        max-height: $navigation-height;
		        overflow: hidden;
		        padding-right: $navigation-submenu-padding;
		        text-align: right;
		        vertical-align: center;		
		        width: 100%;
		        z-index: $z-index-4 + 1;

		        @include media($horizontal-bar-mode) {
		            background: transparent;
		            display: inline;
		            line-height: $navigation-height;  

		            a {
		                padding-right: $navigation-item-padding;
		            }
		        }

		        a {
		            color: $navigation-color;
		            display: inline-block;
		            vertical-align: middle;

		            &:hover {
		                color: $navigation-color-hover;
		            }
		        }
			}
		}
	}