//navigation
//$navigation-padding: 1em;
//$navigation-logo-height: em(125);
//$navigation-background: $dark-blue;
//$navigation-color: lighten($base-font-color, 80%);
//$navigation-color-hover: $base-font-color;
//$navigation-height: em(75);
//$navigation-item-padding: 1em;
//$navigation-submenu-padding: 1em;
//$navigation-submenu-width: 12em;
//$navigation-item-nudge: 1em;
//$horizontal-bar-mode: $large-screen;


	nav {
		display: block;
		width: 100%;

		ul {
			margin: 0 auto;
			overflow: visible;
			padding: 0;

			//large screen layout
	        @include media ($large-screen) {
	        	border: none;
	            display: block;
	            top: 0;
	        }

			li {
		        display: inline-block;
				text-align: center;		

				@include media($large-screen) {
					background-color: transparent;
					border: none;
					padding: 0 1em;
					width: inherit;					
				}

		        a {
		            color: lighten($base-font-color, 80%);
		            display: inline-block;
		            line-height: $header-height;
		            vertical-align: middle;

		            &:hover {
		                color: $gold;
		            }
		        }
			}
		}
	}