footer {
	background-color: black;
	padding: 10px;
	font-size: em(14);
	color: white;
	text-align: center;

	p {
		margin: .5em;
		padding: 0;
	
		a {
			color: #0081C6;
			
			&:hover {
				color: $hover-link-color;	
			}
		}
	}

	ul {
		display: inline-block;
		li {
			display: inline-block !important;
			clear: none;
		}
	}
}