$header-height: 5rem;

@import '../modules/navigation';

header {
	@include outer-container;
	background-color: $dark-blue;
    border-bottom: 1px solid darken($dark-blue, 2%);
    box-shadow: 0 3px 5px 0 rgba($dark-gray, .5);
    clear: both;
    color: lighten($base-font-color, 80%);
    display: block;
    height: $header-height;
    margin: 2em auto 0;
    padding-bottom: 2em;
	position: relative;
    vertical-align: middle;
    z-index: $z-index-4;


	h1 {
        color: white !important;
		display: inline-block;
        font-size: 3rem;
		font-weight: 125%;
        max-width: 100%;
        overflow: visible;
        position: relative;
        top: -$header-height / 10;
        vertical-align: middle;

        @include media($medium-screen) {
            font-size: 3.25rem;
        }
        @include media($large-screen){
            @include span-columns(6);
            float: left;
            font-size: 3.5rem;            
        }

        a, a:hover {
            color: white;
        }

        &:before {
            background-color: transparent;
            background-size: 100% 100%;
            background-image: url('/images/logoform.png');            
            background-repeat: no-repeat;
            clear: none;
            content: ' ';
            display: inline-block;
            height: 2em;
            margin: 0 .33em;
            min-height: 2em;
            min-width: 2em;
            position: relative;
            vertical-align: middle;
        }
	}

    nav {
        @include media($large-screen) {
            @include span-columns(6);
            @include omega;
    
            float: right;
            width: inherit;
        }

        ul {
            display: none;
            border-top: 1px solid white;
            position: relative;
            top: 0;

            @include media($large-screen) { 
                border: none;
                display: block;                
                text-align: left;
            }

            li {
                background-color: $dark-blue;
                border-bottom: 1px solid white;
                display: block;
                max-height: $header-height;
                z-index: $z-index-3;

                @include media($large-screen) {
                    background-color: transparent;
                    border: none;
                    display: inline-block;
                    padding: 0 1em;
                    text-align: right;
                    width: inherit;                 
                }
            }
        }
    }
}