//navigation
$navigation-padding: 1em;
$navigation-logo-height: em(125);
$navigation-background: $dark-blue;
$navigation-color: lighten($base-font-color, 80%);
$navigation-color-hover: $base-font-color;
$navigation-height: em(75);
$navigation-item-padding: 1em;
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$navigation-item-nudge: 1em;
$horizontal-bar-mode: $large-screen;

header {
	@include outer-container;
	background-color: $dark-blue;
    color: lighten($base-font-color, 80%);
    height: em(75);
    margin: 2em auto;
	position: relative;
	border-bottom: 1px solid darken($dark-blue, 2%);
	box-shadow: 0 5px 7px 0 rgba($dark-gray, .5);

    #logo {
    	position: absolute;
    	height: 150px;
    	
    	img {
    		position: absolute !important;
    		top: -1.75em;
    		left: .75em;
    		min-width: em(150);
    		max-height: em(150);
    		z-index: $z-index-5;
   			box-shadow: 0 5px 7px 0 rgba($dark-gray, .5);
   			border-radius: 50%;
    	}
    }

	h1 {
		@include span-columns(6);
		display: inline-block;
		max-height: $navigation-height;
		font-size: 3.5em;
		padding: 0;
		margin: 0;
		font-weight: 125%;
		padding-left: 3.25em;
	}

	@import '../modules/navigation';
}