main {
	article {
		@include outer-container;
		margin: 0;
		padding: 0;

		h2, h3 {
			color: $gold;
			height: 100%;
			padding: 5% auto;
			text-align: center;
			text-shadow: 1px 1px 1px black, 2px 0 0.5em white;
			vertical-align: middle;
		}

		#hero {
			background-attachment: fixed;
			background-image: url('/images/quote-tools.jpg');
			background-position: left 0;
			background-repeat: no-repeat;
			background-size: cover;
			border-bottom: 1px solid $lighter-gray;
			margin: -9em auto 2em;
			text-align: center;

			#hero-header {
				clear: both;
				height: 100%;		
				padding: 11em 15% 15%;
				width: 100%;
				z-index: $z-index-2 !important;
			}

			h2, h3 {
				font-size: 2em;

				@include media($medium-screen) {
					font-size: 2.5em; 
				}

				@include media($large-screen) {
					font-size: 3em; 
				}
			}
		}

		#summary {
			@include outer-container; 
			@include pad;
			ul {
				text-align: justify;
				li {
					@include pad(default / 2);
					display: block;

					@include media($large-screen) {
						@include span-columns(4);
					}

				   	&:first-child h3:before {
				   		background-color: rgba($gold, .75) !important;
				   		background-image: url('/images/icons/mood/ic_mood_white_24dp.png');
				   		border-color: rgba($gold, .75) !important;
				   	}

					&:last-child {
						border: 0;

			   			h3:before{
			   				background-color: rgba($burgundy, .75) !important;
					   		background-image: url('/images/icons/favorite/ic_favorite_outline_white_24dp.png');
							border-color: rgba($burgundy, .75) !important;
			   			}
					}

					h3 {
						box-shadow: none;				   	
						color: black;
						font-size: 1.5em;						
						line-height: 3.5em;						
						min-width: 100%;
						text-align: center;
						text-shadow: none;

						&:before {
							background-color: rgba($dark-blue, .75);
					   		background-image: url('/images/icons/computer/ic_computer_white_24dp.png');
					   		background-position: center 50%;
					   		background-repeat: no-repeat;
							border-color: rgba($dark-blue, .75);
							border-radius: 50%;
				   			box-shadow: 0 1px 2px 0 rgba($medium-gray, .75);
				   			clear: both;
							content: ' ';
							display: block;
							height: 3em;
				   			line-height: 3.5em;
				   			margin: 0 auto;
							min-height: 2em;
							min-width: 2em;
							width: 3em;
						}
					}

				}	
			}
		}

		#process {
			@include outer-container;
			@include span-columns(12);
			@include pad;

			background-attachment: fixed;
			background-image: url('/images/quote-keyboard.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			margin: auto;			
			vertical-align: middle;

			h3 {
				@include pad;
				
				color: $gold;
				height: 100%;
				text-shadow: 1px 1px 1px black, 2px 0 0.5em white;
				text-align: center;
				vertical-align: middle;
			}
		}

		#experience {
			@include outer-container;
			@include pad;

			h3 {
				@include span-columns(12);
				@include pad;

				text-shadow: 1px 1px 1px black, 2px 0 0.5em white;		
			}

			img {
				min-height: 200px;
				max-height: 250px;

				&:before {
					content: ' ';
					display: block;
					height: 50px;
				}
			}
		}

		#contact {
			@include outer-container;
			@include pad;

			background-attachment: fixed;
			background-color: black;
			background-image: url('/images/wide-tools.jpg');
			background-position: 50% 85%;
			background-repeat: no-repeat;
			background-size: cover;
			text-align: center;
		
			@include media($medium-screen) {
				background-size: auto;
			}

			@include media($large-screen) {
				background-size: auto;
			}
		}
	}
}