.cloud span {
    display: inline-block;
    background-color: white;
    border-color: white;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: $z-index-2;
}

.cloud {
    overflow: hidden;
    display: block;
}